*

!README.md
!LICENSE.md
!CONTRIBUTING.md

!.gitignore
!.gitattributes

!include/
!include/light/
!include/light/**

!utility
!utility/**

!shaders
!shaders/**

!examples
!examples/**

!documentation
!documentation/**

examples/build
examples/build**
