*

!README.md
!LICENSE.md
!CONTRIBUTING.md

!.gitignore
!.gitattributes

!depedency/
!depedency/**

!include/
!include/demiurg/
!include/demiurg/**

!shaders
!shaders/**

!examples
!examples/**

!documentation
!documentation/**

examples/build
examples/build**
